/**************************************************************
 * big-todo
 * SPA Client for JSON Object Provider (CSS)
 * January 2015
 * Mike Amundsen (@mamund)
 * Soundtrack : Charlie Haden, Jim Hall "Montreal Jazs Festival"
 **************************************************************/

 
/* mark all divs hidden by default */
#task-list, #task-add, #task-complete, #task-assign, #task-findbycategory, #task-findbytitle, #task-findbycomplete, #task-filters {display:none;}
#category-list, #category-add, #category-findbyname, #category-filters {display:none;}
#user-list, #user-add, #user-update, #user-changepw, #user-findbyname, #user-findbyuser, #user-filters {display:none;} 

